<div class="overflow-x-auto">
  <div class="min-w-screen min-h-screen bg-gray-100 flex pt-20 justify-center bg-gray-100 font-sans overflow-hidden">
    <div class="w-full lg:w-5/6">
      <div class="block rounded-lg shadow-lg bg-white px-6 py-12 md:px-12 ">

      <table class="min-w-max w-full table-auto">
      <thead>     
      <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
          <th class="py-3 px-6 text-left">Operation</th>
          <th class="py-3 px-6 text-left">Amount</th>
      </tr> 
      </thead>
      <tbody class="text-gray-600 text-sm font-light">
        <tr class="border-b border-gray-200 hover:bg-gray-100">
          <td class="py-3 px-6 text-left whitespace-nowrap">
            <div class="flex items-center">
              <span class="text-gray-900 text-xl leading-tight font-medium px-6 py-6"><%=  @operation.name %></span>
            </div>
          </td>
          <td class="py-3 px-6 text-left whitespace-nowrap">
            <div class="flex items-center">
              <span class="text-gray-900 text-xl leading-tight font-medium px-6 py-6"><%=  @operation.amount %></span>
            </div>
          </td>
          <td class="py-3 px-6 text-center">
            <div class="flex item-center justify-center">
              <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                  <%= button_to user_group_path(current_user, @operation), method: :delete,data: { confirm: 'Are you sure?' } do %>
                 <span >
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />        
                  </svg>
                  </span>
                  <%end%>
                </div>
              </div>
            </td>
          </tr>
      </tbody>
    </table>
      </div>
      <div class="bg-white shadow-md rounded my-6">
       
      </div>
    </div>
  </div>
</div>