<div class="overflow-x-auto">
  <div class="min-w-screen min-h-screen bg-gray-100 flex pt-20 justify-center bg-gray-100 font-sans overflow-hidden">
    <div class="w-full lg:w-5/6">
      <div class="block rounded-lg shadow-lg bg-white px-6 py-12 md:px-12 ">
        <div class="actions text-center mb-6">
          <strong>Operation Name: </strong><%= @operation.name  %>
        </div>
      </div>
      <div class="bg-white shadow-md rounded my-6">
       
      </div>
    </div>
  </div>
</div>